* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 16px;
    font-family: arial, tahoma, sans-serif;
    color: black;
}

h1 {
    margin: 10px;
}
.wrapper ul {
    list-style-type: none;
}

.wrapper ul li {
    display: inline-block;
}

.wrapper ul a {
    display: inline-block;
    padding: 15px 30px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    text-align: center;
    background: #DEE4E2;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    color: #000;
    text-decoration: none;
}

.wrapper ul a:focus {
    background: #E8EEEC;
    color: green;
}

.tab-body {
    margin-left: 10px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #E8EEEC;
    line-height: 1.3;
}
